/* ПЕРЕМЕННЫЕ */
:root {
  --main-background-color: #ffffff;
  --hero-bg-color: #c4c4c4;
  --footer-bg-color: #2f303a;
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --section-bg-color: #f5f4fa;
  --work-tumb-bg-color: rgba(47, 48, 58, 0.8);
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --pale-color: #afb1b8;
  --pale-color-transparent: rgba(255, 255, 255, 0.6);
  --bg-color-transparent: rgba(255, 255, 255, 0.1);
  --akcent-color: #2196f3;
  --akcent-bg-color-button: #188ce8;
  --underlines-color: #ececec;
  --dark-logo: #000000;
  --main-font: Roboto, sans-serif;
  --minor-font: Raleway, sans-serif;
  --base-spacing: 0.03em;
  --card-set-gap: 30px;
  --hero-gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  --time-transition: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-filter-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --box-shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-team-item: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-akcent-clor-grid-item: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --border-button-close-color: rgba(0, 0, 0, 0.1);
  --border-grid-item-color: #eeeeee;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --border-input-color: rgba(33, 33, 33, 0.2);
  --border-color-transparent: rgba(255, 255, 255, 0.3);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

/* БАЗОВЫЕ НАСТРОЙКИ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.page-body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  letter-spacing: var(--base-spacing);
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  padding-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* КОНТЕЙНЕР*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ШАПКА */
.header-container,
.logo,
.nav-list,
.nav-list__item,
.nav {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header--underlines {
  border-bottom: 1px solid var(--underlines-color);
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav,
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list {
  margin-left: 93px;
}

.logo {
  justify-content: start;
  font-family: var(--minor-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--base-spacing);
}

.logo__start {
  color: var(--akcent-color);
}

.logo__end {
  color: var(--dark-logo);
}

.nav-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-list__link--gray {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--akcent-color);
}

.nav-list__link:hover .nav-list__icon,
.nav-list__link:focus .nav-list__icon {
  fill: var(--akcent-color);
}

.nav-list__link {
  transition: color var(--time-transition) var(--timing-function);
}

.nav-list__link .nav-list__icon {
  transition: fill var(--time-transition) var(--timing-function);
}

/* Акцет цвет + Подчеркивание страницы навигации */
.nav-list__link--underlines {
  display: block;
  position: relative;
  color: var(--akcent-color);
}

.nav-list__link--underlines::after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--akcent-color);
  border-radius: 2px;
}

/* ГЕРОЙ */

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--hero-gradient), url(../images/geroy/Img-header.jpg);
  background-repeat: no-repeat;
  background-color: var(--hero-bg-color);
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* КНОПКИ */
.filters {
  padding-top: 102px;
}

.filters-box {
  margin-bottom: 50px;
}

.filter-box__list {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

/* Кнопка-фильтры */
.filter-box__button {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-right: 8px;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: var(--base-spacing);
  color: var(--main-text-color);
  background: var(--section-bg-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;

  transition: background-color var(--time-transition) var(--timing-function),
    color var(--time-transition) var(--timing-function),
    box-shadow var(--time-transition) var(--timing-function);
}

.filter-box__button:hover,
.filter-box__button:focus {
  background-color: var(--akcent-color);
  color: var(--white-text-color);
  box-shadow: var(--box-shadow-filter-button);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--akcent-color);
  box-shadow: var(--box-shadow-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--time-transition) var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--akcent-bg-color-button);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  opacity: 1;
  visibility: visible;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--main-background-color);
  box-shadow: var(--box-shadow-modal);
  border-radius: 4px;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: var(--main-background-color);
  border: none;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: var(--main-background-color);
  border: 1px solid var(--border-button-close-color);
  border-radius: 50%;
  cursor: pointer;
}

.close__icon {
  transition: fill var(--time-transition) var(--akcent-color);
}

.close__icon:hover,
.close__icon:focus {
  fill: var(--akcent-color);
}

/* КАРТОЧКИ-СЕТКА ПОРТФОЛИО */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 86px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.grid > .grid__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  border: 1px solid var(--border-grid-item-color);
  transition: box-shadow var(--time-transition) var(--timing-function);
}

.grid__item:hover,
.grid__item:focus {
  box-shadow: var(--box-shadow-akcent-clor-grid-item);
}

.product__text {
  padding: 20px 24px;
}

.product__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.product__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88x;
  letter-spacing: var(--base-spacing);
  color: var(--secondary-text-color);
}

/* оверлей */

.grid__item:hover .product__description {
  opacity: 1;
  transform: translateY(0);
}

.product {
  position: relative;
  overflow: hidden;
}

.product__description {
  position: absolute;
  top: 0;
  display: flex;
  content: "";
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  background-color: var(--overlay-color);
  outline: 1px solid var(--overlay-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--time-transition) var(--timing-function);
}

/* ПРИНЦИПЫ */
.concepts {
  padding-top: 94px;
  padding-bottom: 0;
}

.concepts__list {
  display: flex;
  margin: 0;
  margin-left: calc(-1 * var(--card-set-gap));
}

.concepts__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.concepts__icons {
  display: flex;
  min-height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--section-bg-color);
  border-radius: 4px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--base-spacing);
  text-transform: uppercase;
  color: var(--main-text-color);
}

.text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--base-spacing);
  color: var(--secondary-text-color);
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work__list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.work__item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.work__item {
  position: relative;
}

.work__thumb {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  min-height: 70px;
  background-color: var(--work-tumb-bg-color);
  justify-content: center;
  align-items: center;
}

.work__thumb > .subtitle {
  color: var(--white-text-color);
}

/* НАША КОМАНДА */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-bg-color);
  justify-content: center;
  align-items: center;
}

.team__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: calc(-1 * var(--card-set-gap));
}

.team__list > .team__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: 50px;
  box-shadow: var(--box-shadow-team-item);
  border-radius: 0px 0px 4px 4px;
}

.team__member {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-background-color);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--base-spacing);
  color: var(--main-text-color);
}

.team__position {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--base-spacing);
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list .social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--pale-color);
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--time-transition) var(--timing-function);
}

.social-list__link .social-list__icon {
  transition: fill var(--time-transition) var(--timing-function);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--white-text-color);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--akcent-color);
}

/* КЛИЕНТЫ */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: center;
  align-items: center;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__list {
  display: flex;
  padding-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: 50px;
}

.clients__item {
  flex-basis: calc(100% / 6 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--pale-color);
  border-radius: 4px;

  transition: border var(--time-transition) var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--akcent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--akcent-color);
}

.clients__icon {
  fill: var(--pale-color);
  transition: fill var(--time-transition) var(--timing-function);
}

/* ФУТЕР */

.basement {
  display: flex;
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  flex-basis: calc(50% - 15px);
  justify-content: space-between;
  align-items: baseline;
}
.contacts-box {
  display: flex;
  flex-basis: calc((50% - 45px) / 2);
  align-items: baseline;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.logo__end--light {
  color: var(--white-text-color);
}

.contacts-list {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--base-spacing);
  color: var(--white-text-color);
}

.contacts-list__link {
  color: var(--pale-color-transparent);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--akcent-color);
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 9px;
}

/* ФУТЕР БЛОК2 */
.social-links {
  display: inline-block;
  margin-left: 70px;
}

.social-links > .subtitle {
  color: var(--white-text-color);
}

.social-list__link .social-list__icon--white {
  fill: var(--main-background-color);
}

.social-list__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ФУТЕР БЛОК 3 */
.send {
  display: inline-block;
  margin-left: 93px;
}

.send > .subtitle {
  color: var(--white-text-color);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__input {
  display: flex;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding: 15px 16px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--base-spacing);
  color: var(--pale-color-transparent);
  background-color: inherit;
  border: 1px solid var(--border-color-transparent);
  border-radius: 4px;
}

.form__input::placeholder {
  color: var(--pale-color-transparent);
}
.send--button {
  display: flex;
  margin-top: 20px;
  margin-left: 12px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
}

.send__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  fill: var(--white-text-color);
}

/* ФОРМА МОДАЛЬНОГО ОКНА */

.form-modal {
  position: absolute;
  width: 448px;
  top: 40px;
  left: 40px;
}

.form-modal__title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
  letter-spacing: var(--base-spacing);
}

.form-modal__field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-modal__field:not(:last-child) {
  margin-bottom: 10px;
}

.form-modal__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-modal__input {
  font-size: 14px;
  line-height: 1.17;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 12px;
  border-radius: 4px;
  border: 1px solid var(--border-input-color);
  transition: box-shadow var(--time-transition) var(--timing-function);
  cursor: pointer;
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: box-shadow var(--time-transition) var(--timing-function);
}

.form-modal__input:hover,
.form-modal__input:focus {
  border: 1px solid var(--akcent-color);
}

.form-modal__input:hover + .form-modal__icon,
.form-modal__input:focus + .form-modal__icon {
  fill: var(--akcent-color);
}

.form-textarea {
  resize: none;
  display: flex;
  width: 448px;
  height: 120px;
  padding: 12px 16px;

  font-size: 14px;
  border: 1px solid var(--border-input-color);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow var(--time-transition) var(--timing-function);
}

.form-textarea::placeholder {
  color: var(--placeholder-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid var(--akcent-color);
}

.form-modal__contract {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-modal__contract-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--base-spacing);
  color: var(--secondary-text-color);
}

.form-modal__link {
  margin-left: 3px;
  color: var(--akcent-color);
}

.form-modal__contract-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  position: absolute;
}

.form-modal__icon-check {
  margin-right: 7px;
  margin-left: 14px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  fill: none;
}

.form-modal__contract-checkbox:checked + .form-modal__icon-check {
  fill: var(--main-background-color);
  border-color: var(--akcent-color);
  border: none;
  background-color: var(--akcent-color);
}

.form-modal__button {
  margin-top: 0;
  margin-bottom: 0px;
  padding: 10px 55px;
}
