.concepts {
  padding-top: 94px;
  padding-bottom: 0;
}

.concepts__list {
  display: flex;
  margin: 0;
  margin-left: calc(-1 * 30px);
}

.concepts__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: $base-spacing;
  text-transform: uppercase;
  color: $main-text-color;
}

.text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: $base-spacing;
  color: $secondary-text-color;
}
