.menu-button__icon-menu40 {
  transition: fill $time-transition $akcent-color;

  &:hover,
  &:focus {
    fill: $akcent-color;
  }
}

.menu-close__icon-close40 {
  transition: fill $time-transition $akcent-color;

  &:hover,
  &:focus {
    fill: $akcent-color;
  }
}

.communication__icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}

.communication__icon-tel {
  width: 10px;
  height: 14px;

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.communication__icon-envelope {
  width: 14px;
  height: 10px;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.close__icon {
  transition: fill $time-transition $akcent-color;

  &:hover,
  &:focus {
    fill: $akcent-color;
  }
}

.concepts__icons {
  display: flex;
  min-height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: $section-bg-color;
  border-radius: 4px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: $pale-color;
  transition: fill $time-transition $timing-function;

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: $white-text-color;
  }
}

.social-list__link .social-list__icon--white {
  fill: $main-background-color;
}

.clients__icon {
  fill: $pale-color;
  transition: fill $time-transition $timing-function;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $akcent-color;
  }
}

.send__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  fill: $white-text-color;
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: box-shadow $time-transition $timing-function;

  .form-modal__input:hover + &,
  .form-modal__input:focus + & {
    fill: $akcent-color;
  }
}

.form-modal__icon-check {
  margin-right: 8px;
  border: 2px solid $main-text-color;
  border-radius: 2px;
  fill: none;

  .form-modal__contract-checkbox:checked + & {
    fill: $main-background-color;
    border-color: $akcent-color;
    border: none;
    background-color: $akcent-color;
  }
}
