$main-background-color: #ffffff;
$hero-bg-color: #c4c4c4;
$footer-bg-color: #2f303a;
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$section-bg-color: #f5f4fa;
$work-tumb-bg-color: rgba(47, 48, 58, 0.8);
$main-text-color: #212121;
$secondary-text-color: #757575;
$white-text-color: #ffffff;
$pale-color: #afb1b8;
$pale-color-transparent: rgba(255, 255, 255, 0.6);
$bg-color-transparent: rgba(255, 255, 255, 0.1);
$akcent-color: #2196f3;
$akcent-bg-color-button: #188ce8;
$underlines-color: #ececec;
$dark-logo: #000000;
$main-font: Roboto, sans-serif;
$minor-font: Raleway, sans-serif;
$base-spacing: 0.03em;
$hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
$time-transition: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow-filter-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
$box-shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-team-item: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-akcent-clor-grid-item: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$border-button-close-color: rgba(0, 0, 0, 0.1);
$border-grid-item-color: #eeeeee;
$overlay-color: rgba(33, 150, 243, 0.9);
$border-input-color: rgba(33, 33, 33, 0.2);
$border-color-transparent: rgba(255, 255, 255, 0.3);
$placeholder-color: rgba(117, 117, 117, 0.5);
